body {
    background-color: floralwhite;
    font-family: Tahoma;
}

._column {
    float: left;
    margin: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#_searchColumn {
    width: 20%;
}

#_gamesColumn {
    width: 75%;
}

._searchCategory {
    border: 1px solid black;
    margin-bottom: 5px;
    min-width: 200px;
}

._searchCategoryName {
    background-color: lightsteelblue;
    padding: 5px;
}

._searchCategoryContents {
    padding: 5px;
}

._listedGame {
    margin-bottom: 5px;
    background-color: lightsteelblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

._gameImg {
    width: 10%;
}

._gameTitle {
    padding: 5px;
    font-size: 1.875em;
}

._gameInfo {
    padding: 5px;
    padding-top: 0px;
    width: 90%;
}

._gameMetadata {
    border-right: 1px solid black;
    width: 15%;
}

#gameMetadata4 {
    border-right: 0px;
}

._h3 {
    font-size: 1.17em;
}

._inlineBlock {
    display: inline-block;
    margin: 0px;
}

