<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/styles/gameStyles.css">
</head>

<body>
    <nav id="navbar">
        <a href="/">Home</a>
        <a href="/search">Search</a>
        <a class="_userNav" href="/user">My Profile</a>
        <a class="_userNav" href="/login">Log In</a>
        <a class="_userNav" href="/signup">Sign Up</a>
    </nav>

    <div id="loginContainer">
        <h2>Login</h2>
        <form id="loginSignForm" action="/login" method="POST">
            <div id="inputsWrapper">
                <input id="username" name="username" placeholder="Enter username">
                <input id="password" name="password" placeholder="Enter password">
            </div>
            <button type="submit">Login</button>
            <div id=registerLoginLink>
                Don't have an account? <a href="/signup">Sign up</a>
            </div>
        </form>
        <% if (typeof error !== 'undefined' && error) { %>
            <div class="error-message" style="margin-bottom: 10px;" ></div><%= error %></div>
        <% } %>
    </div>

    <script src="login.js"></script>

</body>

</html>