<!DOCTYPE html>
<html>

<head>
    <title>Main</title>
    <link rel="stylesheet" href="/styles/gameStyles.css">
    <script src="/scripts/mainScript.js" defer></script>
</head>

<body>
    <nav id="navbar">
        <a href="/">Home</a>
        <a href="/search">Search</a>
        <a class="_userNav" href="/user">My Profile</a>
        <a class="_userNav" href="/login">Log In</a>
        <a class="_userNav" href="/signup">Sign Up</a>
    </nav>

    <h1>Top 10 Games</h1>
    <!--Game List-->
    <div id="loadingBar" class="_loader"></div>
    <div id="topTenContainer">
        
    </div>
</body>

</html>