<!DOCTYPE html>
<html>

<head>
    <title>Main</title>
    <link rel="stylesheet" href="/styles/gameStyles.css">
</head>

<body>
    <nav id="navbar">
        <a href="/">Home</a>
        <a href="/search">Search</a>
        <a href="/user">Profile</a>
    </nav>

    <h1>Main Page</h1>

</body>

</html>