<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/gameStyles.css">
</head>

<body>
    <nav id="navbar">
        <a href="/">Home</a>
        <a href="/search">Search</a>
        <a href="/user">Profile</a>
    </nav>

    <div id="loginContainer">
        <h2>Sign Up</h2>
        <form id="loginSignForm" action="/signup" method="POST" onsubmit="return validateSignUp()">
            <div id="inputsWrapper">
                <input id="newUserName" name="newUserName" placeholder="Choose a username">
                <input id="newPassword" name="newPassword" placeholder="Choose a password">
                <input id="confirmPassword" name="confirmPassword" placeholder="Confirm password">
            </div>
            <button type="submit">Sign Up</button>
            <div id="registerLoginLink">
                Already have an account? <a href="/login">Login</a>
            </div>
        </form>
    </div>

    <script src="/scripts/signup.js"></script>
</body>

</html>